.api-request {
    display: inline-block;
    margin: 0 10px;
}

.api-request button {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
    font-size: 16px;
    padding: 10px 20px;
}

.api-request button:hover {
    background-color: #286090;
}

.api-request .icon {
    float: left;
    margin-right: 10px;
    font-size: 18px;
}

.api-request .text {
    float: left;
}